# Whisper (STT)
WHISPER_SERVER_URL=http://whisper-server:8000/v1
WHISPER_SERVER_URL_MODELS=http://whisper-server:8000/v1/models
WHISPER_API_KEY=not-needed

# LLM (Ollama)
LLM_SERVER_URL=http://llm-server:11434/v1
LLM_SERVER_URL_MODELS=http://llm-server:11434/v1/models
LLM_API_KEY=not-needed
OLLAMA_SERVER_URL=http://llm-server:11434
DEFAULT_MODEL_ID=qwen3.5-custom:latest